@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");
/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/lib/_placeholders.scss */
p, blockquote, li {
  font-size: 18px;
  font-size: 1.125rem; }

@viewport {
  width: device-width;
  min-zoom: 1;
  max-zoom: 2; }
/* line 7, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/base/_base.scss */
body {
  font-family: calibri, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7; }

/* line 25, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/base/_base.scss */
.clear {
  clear: both; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_constrained.scss */
.l-constrained {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_promobox.scss */
.promobox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2.38095%;
  padding-right: 2.38095%;
  padding-bottom: 3em;
  padding-left: 0px; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
header {
  overflow: hidden;
  border-bottom: 0.7em solid RGBA(0, 129, 198, 1);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #595658), color-stop(1, #000000));
  background-image: -o-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #595658 0%, #000000 100%); }
  @media screen and (min-width: 320px) {
    /* line 19, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
    header .h-container {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 200%;
      float: left;
      padding-left: 0.19841%;
      padding-right: 0.19841%; }
    /* line 23, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
    header .animenu__nav li a {
      padding: 1em;
      font-size: 1rem; } }
  @media screen and (min-width: 700px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
    header {
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      /* line 33, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .h-container {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 1200px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.09921%;
        padding-right: 0.09921%; }
        /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
        header .h-container:after {
          content: " ";
          display: block;
          clear: both; }
      /* line 40, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .magglass {
        color: RGBA(255, 255, 255, 1);
        font-size: 1.7rem;
        padding-left: 0em; }
      /* line 46, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .spacing {
        color: white;
        border: none;
        padding-left: 1em; }
      /* line 50, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .animenu__nav li a {
        padding: 1em;
        font-size: 1rem; } }
  @media screen and (min-width: 1366px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
    header {
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out; }
      /* line 60, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .h-container {
        width: 100%;
        max-width: 1200px;
        margin-left: 2em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 0.09921%;
        padding-right: 0.09921%; }
      /* line 67, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .magglass {
        color: RGBA(255, 255, 255, 1);
        font-size: 1.7rem;
        padding-left: 0em; }
      /* line 73, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .spacing {
        color: white;
        border-right: none;
        padding-left: 6em; }
      /* line 80, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
      header .animenu__nav li a {
        padding: 1.5em;
        margin-bottom: 0em;
        font-size: 1rem; } }

/*.menu {
  float: right;
}*/
/* line 95, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
.magglass {
  color: RGBA(255, 255, 255, 1);
  font-size: 1.5rem;
  padding-left: 0em; }

/* line 101, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
.magglass li a:hover {
  color: #0000ff; }

/* line 105, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_header.scss */
.magglass:hover {
  background: none !important;
  font-color: #007bc0; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.09921%;
  padding-right: 0.09921%; }
  /* line 4, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
  footer .box1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    text-align: center;
    padding: 0px; }
    /* line 9, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
    footer .box1 p {
      font-size: 1.2rem; }
  /* line 14, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
  footer .box2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    text-align: center;
    padding-bottom: 2em; }
    /* line 19, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
    footer .box2 p {
      font-size: 0.9rem; }
  /* line 24, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
  footer .box3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    text-align: center; }
    /* line 28, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_footer.scss */
    footer .box3 p {
      font-size: 0.9rem;
      line-height: 1em; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
main {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.09921%;
  padding-right: 0.09921%; }
  /* line 4, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
  main .promobox {
    max-width: 170%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0em;
    padding-top: 2em;
    padding-left: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%; }
    /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
    main .promobox:after {
      content: " ";
      display: block;
      clear: both; }
  /* line 12, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
  main .prom-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    padding-left: 0.2em !important;
    padding-top: 0em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%; }
    /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
    main .prom-container:after {
      content: " ";
      display: block;
      clear: both; }
  /* line 20, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
  main .col1, main .col2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    border-left: solid 0.1em #ccc;
    border-top: solid 0.1em #ccc;
    border-right: solid 0.1em #ccc;
    padding: 1em; }
    /* line 27, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .col1 p, main .col2 p {
      line-height: 1.2em;
      text-align: center; }
  /* line 33, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
  main .col3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    border: solid 0.1em #ccc;
    padding: 1em; }
    /* line 38, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .col3 p {
      line-height: 1.2em;
      text-align: center; }
  /* line 44, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
  main .slides-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    margin-bottom: 2em; }
  @media screen and (min-width: 700px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 84.16667%;
      float: right;
      padding-left: 0.09921%;
      padding-right: 0.09921%;
      padding-left: 0em; }
      /* line 54, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .prom-container {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        width: 110% !important;
        padding-bottom: 0.5em;
        padding-left: 1.5em !important;
        padding-top: 0em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.38095%;
        padding-right: 2.38095%; }
        /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
        main .prom-container:after {
          content: " ";
          display: block;
          clear: both; }
      /* line 64, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .promobox {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.38095%;
        padding-right: 2.38095%;
        max-width: 170%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0em;
        padding-left: 0em;
        padding-top: 0em; }
        /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
        main .promobox:after {
          content: " ";
          display: block;
          clear: both; }
      /* line 72, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .col1,
      main .col2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.39683%;
        padding-right: 0.39683%;
        text-align: center;
        vertical-align: center;
        color: #3e3e40;
        border-right: solid 0.1em #595a5c;
        border-top: none;
        border-bottom: none;
        border-left: none; }
        /* line 83, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
        main .col1 p,
        main .col2 p {
          font-size: 0.8rem; }
      /* line 88, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .col3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.39683%;
        padding-right: 0.39683%;
        text-align: center;
        vertical-align: center;
        color: #3e3e40;
        border: none; }
        /* line 95, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
        main .col3 p {
          font-size: 0.8rem; }
      /* line 100, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .slides-container {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.38095%;
        padding-right: 2.38095%;
        margin-left: 0;
        margin-bottom: 2em; }
      /* line 106, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main a {
        color: RGBA(0, 129, 198, 1);
        text-decoration: none; } }
  @media screen and (min-width: 1024px) {
    /* line 117, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .promobox {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0.6em;
      padding-left: 0em !important;
      padding-top: 0em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 2.38095%;
      padding-right: 2.38095%; }
      /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      main .promobox:after {
        content: " ";
        display: block;
        clear: both; }
    /* line 125, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .prom-container {
      max-width: 110%;
      margin-left: auto;
      margin-right: auto;
      width: 110% !important;
      padding-bottom: 0.4em;
      padding-left: 1.5em !important;
      padding-top: 0em;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 2.38095%;
      padding-right: 2.38095%;
      font-size: 0.7rem; }
      /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      main .prom-container:after {
        content: " ";
        display: block;
        clear: both; }
    /* line 136, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .col1, main .col2 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.33333%;
      float: left;
      padding-left: 0.11338%;
      padding-right: 0.11338%;
      text-align: center;
      vertical-align: center;
      color: #3e3e40;
      border-right: solid 0.1em #595a5c;
      border-top: none;
      border-bottom: none;
      border-left: none;
      padding-top: 0;
      padding-bottom: 0;
      padding-bottom: 0; }
      /* line 151, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .col1 p, main .col2 p {
        font-size: 0.9rem; }
    /* line 154, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .col3 {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 33.33333%;
      float: right;
      padding-left: 0.11338%;
      padding-right: 0.11338%;
      text-align: center;
      vertical-align: center;
      color: #3e3e40;
      border: none;
      padding-top: 0;
      padding-bottom: 0; }
      /* line 164, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .col3 p {
        font-size: 0.9rem; }
    /* line 167, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main .slides-container {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 2.38095%;
      padding-right: 2.38095%;
      width: 110% !important;
      margin-left: 0;
      margin-bottom: 2em;
      padding-left: 0.2% !important; } }
  @media screen and (min-width: 1366px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
    main {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 85.41667%;
      float: right;
      padding-left: 0.09921%;
      padding-right: 0.09921%; }
      /* line 183, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .promobox {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 0.6em;
        padding-left: 0.2em !important;
        padding-top: 0em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.38095%;
        padding-right: 2.38095%; }
        /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
        main .promobox:after {
          content: " ";
          display: block;
          clear: both; }
      /* line 191, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .prom-container {
        max-width: 130%;
        margin-left: auto;
        margin-right: auto;
        width: 110% !important;
        padding-bottom: 0.4em;
        padding-left: 1.5em !important;
        padding-top: 0em;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.38095%;
        padding-right: 2.38095%; }
        /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
        main .prom-container:after {
          content: " ";
          display: block;
          clear: both; }
      /* line 201, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .col1, main .col2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.11338%;
        padding-right: 0.11338%;
        text-align: center;
        vertical-align: center;
        color: #3e3e40;
        border-right: solid 0.1em #595a5c;
        border-top: none;
        border-bottom: none;
        border-left: none;
        padding-top: 0;
        padding-bottom: 0;
        padding-bottom: 0; }
        /* line 216, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
        main .col1 p, main .col2 p {
          font-size: 1rem; }
      /* line 219, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .col3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: right;
        padding-left: 0.11338%;
        padding-right: 0.11338%;
        text-align: center;
        vertical-align: center;
        color: #3e3e40;
        border: none;
        padding-top: 0;
        padding-bottom: 0; }
        /* line 229, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
        main .col3 p {
          font-size: 1rem; }
      /* line 232, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_main.scss */
      main .slides-container {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        float: left;
        padding-left: 2.38095%;
        padding-right: 2.38095%;
        width: 110% !important;
        margin-left: 0;
        margin-bottom: 2em;
        padding-left: 1.5% !important; } }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_container.scss */
.layout {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0em;
  padding-bottom: 2em;
  padding-left: 0em; }
  /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
  .layout:after {
    content: " ";
    display: block;
    clear: both; }
  @media screen and (min-width: 700px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_container.scss */
    .layout {
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 0em;
      padding-top: 2em;
      padding-left: 2em; }
      /* line 12, C:/Ruby21/lib/ruby/gems/2.1.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
      .layout:after {
        content: " ";
        display: block;
        clear: both; } }
  @media screen and (min-width: 1024px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_container.scss */
    .layout {
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      padding-top: 2em;
      padding-left: 6.7em; } }
  @media screen and (min-width: 1366px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/layouts/_container.scss */
    .layout {
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -webkit-transition: all 1s ease-out;
      transition: all 1s ease-out;
      margin-left: 1.75em;
      padding-left: 8.17em;
      padding-top: 2.5em; } }

/* line 7, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
*, *:after, *:before {
  box-sizing: border-box; }

/* line 17, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
.animenu__toggle {
  display: none;
  float: right !important;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #595658), color-stop(1, #000000));
  background-image: -o-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -moz-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -webkit-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: -ms-linear-gradient(bottom, #595658 0%, #000000 100%);
  background-image: linear-gradient(to bottom, #595658 0%, #000000 100%);
  border: 0;
  padding: 10px;
  height: 40px;
  width: 40px; }
  /* line 40, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__toggle:hover {
    background-color: RGBA(0, 129, 198, 1); }

/* line 45, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
.animenu__toggle__bar {
  display: block;
  width: 20px;
  height: 2px;
  background-color: #fff;
  transition: 0.15s cubic-bezier(0.75, -0.55, 0.25, 1.55); }
  /* line 51, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__toggle__bar + .animenu__toggle__bar {
    margin-top: 4px; }

/* line 57, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
.animenu__toggle--active .animenu__toggle__bar {
  margin: 0;
  position: absolute; }
  /* line 61, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__toggle--active .animenu__toggle__bar:nth-child(1) {
    transform: rotate(45deg); }
  /* line 65, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__toggle--active .animenu__toggle__bar:nth-child(2) {
    opacity: 0; }
  /* line 69, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__toggle--active .animenu__toggle__bar:nth-child(3) {
    transform: rotate(-45deg); }

/* line 76, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
.animenu {
  display: block;
  padding-top: 0em;
  padding-right: 2em; }
  /* line 82, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu ul {
    padding: 0;
    list-style: none; }
  /* line 87, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu li {
    display: inline-block; }
    /* line 90, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu li .spacing {
      color: white;
      border: none;
      padding-left: 3em; }
  /* line 95, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu a {
    display: inline-block;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    display: block;
    text-decoration: none;
    padding: 0px;
    color: RGBA(255, 255, 255, 1); }
    /* line 104, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu a:hover {
      background: RGBA(0, 129, 198, 1); }
    /* line 108, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu a .globe-img img {
      height: 25px;
      width: 25px; }
    /* line 114, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu a .magglass {
      color: RGBA(255, 255, 255, 1);
      font-size: 1.7rem; }

/* line 129, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
.animenu__nav {
  background-color: none; }
  /* line 132, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__nav li {
    position: relative;
    border-right: 1px solid #444444; }
    /* line 138, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu__nav li .company {
      border-right: 1px solid #444444;
      border-left: 1px solid #444444; }
    /* line 143, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu__nav li .spacing {
      color: white;
      border: none;
      padding-left: 3em; }
    /* line 147, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu__nav li a {
      padding: 1.5em;
      color: #fff; }
    /* line 153, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu__nav li:hover ul {
      opacity: 1;
      visibility: visible;
      margin: 0; }
  /* line 161, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__nav li:first-of-type {
    position: relative;
    border-right: 1px solid #444444;
    border-left: 1px solid #444444; }

@media screen and (max-width: 700px) {
  /* line 173, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu {
    display: block;
    padding-top: 0.7em;
    padding-right: 1.3em; }

  /* line 179, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__toggle {
    display: inline-block; }

  /* line 183, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__nav,
  .animenu__nav__child {
    display: none; }

  /* line 195, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__nav {
    margin-left: 2em; }
    /* line 199, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu__nav li {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid #515151; }
      /* line 204, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
      .animenu__nav li a {
        padding: 1em;
        border-color: #111;
        position: relative; }
        /* line 210, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
        .animenu__nav li a .globe-img img {
          height: 30px;
          width: 30px; }
        /* line 215, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
        .animenu__nav li a .magglass {
          color: RGBA(255, 255, 255, 1);
          font-size: 1.7rem; }
    /* line 222, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
    .animenu__nav a:hover {
      background-color: RGBA(0, 129, 198, 1);
      border-color: RGBA(0, 129, 198, 1);
      color: #fff; } }
/* line 238, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
.animenu__nav--open {
  display: block !important; }
  /* line 241, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_responsive-menu.scss */
  .animenu__nav--open .animenu__nav__child {
    display: block; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_logo.scss */
.logo {
  /*
      @include breakpoint(350px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 70%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(370px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 70%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(390px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 70%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(410px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 60%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(430px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 60%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(460px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 50%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(540px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 40%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(650px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 40%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(680px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 40%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint(700px) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 30%;
          //padding-left: 2em;
        }
      }
  
      @include breakpoint($medium) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 30%;
          padding-left: 2em;
        }
      }
  
      @include respond-to($ipad) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 25%;
          padding-left: 3.3em;
        }
      }
  
      @include respond-to($large) {
        @include single-transition(all, 1s, ease-out);
  
        img {
          width: 25%;
          padding-left: 0;
          padding-top: 1em;
          padding-right: 5em;
        }
      }*/ }
  /* line 3, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_logo.scss */
  .logo img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    width: 100%;
    max-width: 178px;
    float: left;
    padding-left: 1em;
    padding-top: 0.5em;
    vertical-align: middle; }

/*! http://responsiveslides.com v1.54 by @viljamis */
/* line 6, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_slideshow.scss */
.slides-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 2.38095%;
  padding-right: 2.38095%;
  margin-bottom: 2em; }

/* line 12, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_slideshow.scss */
.rslides {
  width: 100%;
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0; }
@media screen and (min-width: 320px) and (max-width: 700px) {
  /* line 12, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_slideshow.scss */
  .rslides {
    width: 100%; } }

/* line 26, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_slideshow.scss */
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0; }

/* line 35, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_slideshow.scss */
.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

/* line 41, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_slideshow.scss */
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
footer {
  color: RGBA(255, 255, 255, 1);
  background: RGBA(0, 0, 0, 1);
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 0.6em solid RGBA(0, 129, 198, 1); }
  /* line 9, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
  footer .box1 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    text-align: center; }
    /* line 13, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer .box1 p {
      font-size: 1rem; }
  /* line 16, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
  footer .box2 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    font-size: 0.9rem;
    text-align: center;
    padding-top: 1.3em; }
    /* line 22, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer .box2 p {
      font-size: 0.8rem; }
  /* line 27, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
  footer .box3 {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 2.38095%;
    padding-right: 2.38095%;
    font-size: 0.9rem;
    text-align: center; }
    /* line 33, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer .box3 p {
      line-height: 1.3em;
      font-size: 0.7rem; }
  /* line 39, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
  footer a {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    text-decoration: none;
    color: RGBA(255, 255, 255, 1); }
    /* line 44, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer a:hover, footer a:active, footer a:focus {
      color: RGBA(0, 129, 198, 1); }
      /* line 48, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer a:hover i, footer a:active i, footer a:focus i {
        color: RGBA(0, 129, 198, 1); }
  /* line 54, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
  footer i {
    color: RGBA(255, 255, 255, 1);
    font-size: 1.4rem !important;
    padding-right: 0.5em;
    vertical-align: text-middle; }
  @media screen and (min-width: 700px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.09921%;
      padding-right: 0.09921%;
      padding: 0px;
      height: auto; }
      /* line 67, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box1 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        padding-left: 3em;
        text-align: left;
        padding-top: 1.1em; }
        /* line 74, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box1 p {
          font-size: 1rem; }
        /* line 79, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box1 a {
          -moz-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          -webkit-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out;
          text-decoration: none;
          color: RGBA(255, 255, 255, 1);
          margin-bottom: 20px !important; }
          /* line 85, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
          footer .box1 a:hover, footer .box1 a:active, footer .box1 a:focus {
            color: RGBA(0, 129, 198, 1); }
            /* line 89, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
            footer .box1 a:hover i, footer .box1 a:active i, footer .box1 a:focus i {
              color: RGBA(0, 129, 198, 1); }
      /* line 97, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        font-size: 0.9rem;
        padding-top: 0.5em;
        text-align: center;
        padding-top: 1.3em; }
        /* line 104, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box2 p {
          font-size: 0.8rem; }
      /* line 109, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        font-size: 0.9rem;
        padding-right: 3em;
        text-align: right;
        padding-top: 1em; }
        /* line 116, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box3 p {
          line-height: 1.3em;
          font-size: 0.7rem; } }
  @media screen and (min-width: 1024px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.09921%;
      padding-right: 0.09921%;
      height: auto; }
      /* line 127, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box1 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        text-align: left; }
        /* line 133, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box1 p {
          font-size: 1.2rem;
          vertical-align: text-center; }
      /* line 139, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        font-size: 0.9rem;
        text-align: center;
        vertical-align: top !important; }
      /* line 151, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        font-size: 0.9rem;
        padding-right: 3em;
        text-align: right;
        vertical-align: top !important; }
        /* line 160, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box3 p {
          line-height: 1.3em; } }
  @media screen and (min-width: 1366px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      float: left;
      padding-left: 0.09921%;
      padding-right: 0.09921%; }
      /* line 169, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box1 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        text-align: left; }
        /* line 175, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box1 .tel {
          padding-top: 10px !important; }
        /* line 178, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box1 p {
          font-size: 1.2rem; }
      /* line 183, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box2 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        font-size: 0.9rem;
        padding-top: 0.3em;
        padding-left: 0.75em;
        text-align: center;
        vertical-align: center; }
      /* line 193, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
      footer .box3 {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 33.33333%;
        float: left;
        padding-left: 0.79365%;
        padding-right: 0.79365%;
        font-size: 0.9rem;
        padding-left: 0em;
        text-align: right;
        vertical-align: center; }
        /* line 202, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
        footer .box3 p {
          font-size: 0.8rem;
          line-height: 1.4em;
          letter-spacing: 0.0625em; } }
  @media screen and (min-width: 1024px) {
    /* line 210, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_footer.scss */
    footer .phone-no {
      font-size: 0.98rem !important;
      vertical-align: text-middle !important; } }

@media (min-width: 320px) {
  /* line 5, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/breakpoints/_small-breakpoint.scss */
  header .h-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    padding-left: 0.09921%;
    padding-right: 0.09921%; } }
/* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
.sidebar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.09921%;
  padding-right: 0.09921%;
  margin-left: 4.16667%;
  background: RGBA(255, 255, 255, 1);
  margin-top: 0.2em;
  border-right: solid 1px RGBA(0, 129, 198, 1);
  padding-left: 1em; }
  @media screen and (min-width: 700px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
    .sidebar {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 12.5%;
      float: left;
      padding-left: 0.09921%;
      padding-right: 0.09921%;
      margin-left: 0%;
      -moz-transition: all 0.5s ease-out;
      -o-transition: all 0.5s ease-out;
      -webkit-transition: all 0.5s ease-out;
      transition: all 0.5s ease-out;
      display: block;
      text-decoration: none;
      color: RGBA(0, 129, 198, 1);
      font-size: 1rem;
      padding-bottom: 0em; }
      /* line 21, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
      .sidebar .sidebar__link {
        font-size: 1rem; } }
  @media screen and (min-width: 1366px) {
    /* line 1, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
    .sidebar {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 12.5%;
      float: left;
      padding-left: 0.09921%;
      padding-right: 0.09921%;
      margin-left: 0%;
      font-size: 1rem; } }
  /* line 31, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
  .sidebar .sidebar__list {
    display: inline-block;
    width: 100%; }
  /* line 36, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
  .sidebar .sidebar__link {
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    padding-left: 6em;
    display: block;
    text-decoration: none;
    padding: 5px;
    color: RGBA(0, 129, 198, 1); }
    @media screen and (min-width: 1024px) {
      /* line 36, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
      .sidebar .sidebar__link {
        font-size: 1rem; } }
  /* line 54, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
  .sidebar .sidebar__list-item {
    padding-left: 0.7em !important; }
    @media screen and (min-width: 1024px) {
      /* line 54, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
      .sidebar .sidebar__list-item {
        padding-left: 0.4em !important; } }
  /* line 63, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
  .sidebar .fa-chevron-right {
    display: none;
    top: 1px;
    color: RGBA(0, 129, 198, 1);
    font-size: 0.7rem;
    -webkit-font-smoothing: antialiased;
    line-height: 1px;
    padding-left: 1em;
    vertical-align: baseline; }
  /* line 74, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
  .sidebar:hover {
    background: RGBA(0, 129, 198, 1);
    color: RGBA(255, 255, 255, 1); }
    /* line 78, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_sidebar.scss */
    .sidebar:hover i {
      top: 1px;
      color: RGBA(255, 255, 255, 1);
      font-size: 0.7rem;
      -webkit-font-smoothing: antialiased;
      padding-left: 1em;
      line-height: 1;
      vertical-align: baseline; }

@media screen and (min-width: 1366px) {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  /* line 5, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe {
    border-right: none;
    padding: 1em 1em 0 0 !important;
    background: none url(images/globe.png) no-repeat scroll right center; }

  /* line 11, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe:hover {
    background: none url(images/blue-globe.png) no-repeat scroll right center !important; }

  /* line 15, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe a:hover {
    background: none !important;
    font-color: RGBA(0, 129, 198, 1); }

  /* line 20, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe li a:hover {
    color: #00ff00 !important; }

  /* line 24, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  li.globe-wrapper {
    position: static; }

  /* line 27, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul {
    padding: 0 !important;
    list-style: none !important; }

  /* line 32, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li {
    float: left !important;
    width: 100px !important;
    text-align: center !important;
    line-height: 21px !important;
    display: block;
    background-color: black !important; }

  /* line 41, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a {
    display: block !important;
    padding: 5px 10px !important;
    color: #fff !important;
    background: #000 !important;
    text-decoration: none !important; }

  /* line 49, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a:hover {
    color: #007bc0 !important; }

  /* line 53, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul {
    display: none !important;
    list-style-type: none !important; }

  /* line 58, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper:hover ul {
    display: block !important; }

  /* line 62, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li {
    float: none !important;
    width: 100px !important;
    text-align: center !important;
    line-height: 21px !important; }

  /* line 69, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a {
    display: block !important;
    padding: 5px 10px !important;
    color: #fff !important;
    background: #000 !important;
    text-decoration: none !important; }

  /* line 77, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a:hover {
    font-color: #007bc0 !important;
    background: none  !important; } }
@media screen and (min-width: 700px) {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  /* line 89, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe {
    border-right: none;
    padding: 1em 1em 0 0 !important;
    background: none url(images/globe.png) no-repeat scroll right center; }

  /* line 95, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe:hover {
    background: none url(images/blue-globe.png) no-repeat scroll right center !important; }

  /* line 99, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe a:hover {
    background: none !important;
    font-color: RGBA(0, 129, 198, 1); }

  /* line 104, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe li a:hover {
    color: #00ff00 !important; }

  /* line 108, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  li.globe-wrapper {
    position: static; }

  /* line 111, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul {
    padding: 0 !important;
    list-style: none !important; }

  /* line 116, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li {
    float: left !important;
    width: 100px !important;
    text-align: center !important;
    line-height: 21px !important;
    display: block;
    background-color: black !important; }

  /* line 125, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a {
    display: block !important;
    padding: 5px 10px !important;
    color: #fff !important;
    background: #000 !important;
    text-decoration: none !important; }

  /* line 133, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a:hover {
    color: #007bc0 !important; }

  /* line 137, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul {
    display: none !important;
    list-style-type: none !important; }

  /* line 142, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper:hover ul {
    display: block !important; }

  /* line 146, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li {
    float: none !important;
    width: 100px !important;
    text-align: center !important;
    line-height: 21px !important; }

  /* line 153, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a {
    display: block !important;
    padding: 5px 10px !important;
    color: #fff !important;
    background: #000 !important;
    text-decoration: none !important; }

  /* line 161, C:/Users/EmyBN/Desktop/minco-dev/source/stylesheets/components/_language-selector.scss */
  .globe-wrapper ul li a:hover {
    font-color: #007bc0 !important;
    background: none  !important; } }
